/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */

html{
    font-family: Helvetica, Arial,  sans-serif;
    scroll-behavior: smooth;
}
.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding: 0 8px;
}

.col-3{
    width: 33.3333%;
}

.col-2{
    width: 50%;
}

.col-1{
    width: 100%;
}

.text-center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}

/* Main */

#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top : 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#nav {
    display: inline-block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#header .mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#nav > li{
    display: inline-block;
}

#nav li {
    
    list-style: none;
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}

#nav .nav-icondown{
    font-size: 14px;
}


#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: #333;
}



#nav .subnav  {
    top:100%;
    left: 0;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #333;
    margin: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
} 
#nav .subnav  a {
    color: #000;
    padding: 0 14px;
    line-height: 38px;
}
#header .mobile-menu,
#header .searchbtn{
    float: right;
}
#header .menu-icon,
#header .search-nav{
    color: #fff; 
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
}
#header .mobile-menu:hover{
    background-color: #ccc;
}

#header .mobile-menu :hover .menu-icon{
    background-color: #000;
}

#header .searchbtn:hover{
    background-color: rosybrown;
    cursor: pointer;
}





#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* Khi đặt là giá trị % thì sẽ phụ thuộc vào chiều ngang của chính nó */
    background:url('../img/slider1.jpg') top center / cover  no-repeat;
}

#slider .text-slider{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 25px;
}

#slider .text-main{
    font-size: 15px;
}


#content{

}

#content .section-heading,
#content .section-subheading{
    text-align: center;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
}

#content .section-subheading{
    font-size: 15px;
    margin : 25px 0 40px 0;
    font-style: italic;
    opacity: 0.5;
}

#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}
#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .member-list{
    margin-top: 32px;
    overflow: hidden;
}

#content .member-name{
    font-size: 15px;
    text-align: center;
}



#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 50%;
}


/* Tour */
.tour-section{
    background-color: #000;
}

.ticket-list{
    background-color: #fff;
    list-style: none;
}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}

/* Places */

.places-list{
    margin-top: 16px;
   
    
}



.places-img{
    width: 100%;
    display: block;
    
    overflow: hidden;
    transition: all 1s;
}

.places-img:hover {
    opacity: 0.6;
    -webkit-transform: scale(1.2); transform: scale(1.2);
    
}


.places-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    text-align: center;
}

.places-heading{
    font-size: 15px;
    font-style: italic;
    
    
}

.places-time{
    margin: 15px 0;
    color: #757575;
    line-height: 1.4;
    font-style: italic;
}



.places-buybtn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    
}
.places-buybtn:hover{
    background-color: #ccc;
    color: #000;
   cursor: pointer;
}

/* Contact */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
    color: #757575;
}

.contact-info i{
    width: 30px;
    display: inline-block;
    padding: 12px;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border : 1px solid #ccc ;
    width: 100%;
}

.contact-form .form-submit-btn{
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid #000;
    float: right;
    
}

.contact-form .form-message{
    padding-bottom: 100px;
    
}

.contact-form .form-submit-btn:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.contact{
    border: 5px solid #757575;
    margin: 10px auto;
}
/* Map */
.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer  .social{
    font-size: 22px;
    
}

#footer  .social a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none ;
}

#footer  .social a:hover{
    color: rgba(0, 0, 0, 0.3);
}

#footer .copy-right{
    font-size: 15px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;

}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease .5s;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
    cursor: pointer;
}
.modal-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-ticket{
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#buy-ticket:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;

}
.modal-footer a{
    
    color: #009688;
}

@keyframes modalFadein {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}